<div mat-dialog-title>
  Spielregeln <mat-icon>book</mat-icon>
</div>

<div mat-dialog-content>
  <b>Spielziel:</b>
  <p>
    Ziel ist, die Bombe so schnell wie möglich loszuwerden, bevor sie „explodiert“,
    indem die Aufgabe auf der Karte gelöst wird. Wenn die Bombe „explodiert“,
    muss die Karte behalten werden. Wer am Ende die wenigsten Karten hat, gewinnt.
  </p>
  <hr>
  <b>Spielablauf:</b>
  <p>
    1. Der Startspieler bekommt eine Karte und somit eine Kategorie<br />
    2. Die Bombe beginnt zu ticken..<br />
    3. Der Spieler nennt ein Wort welches zu seiner Kategorie passt<br /><br />
  </p>

  <h2><u>Kategorien:</u></h2>
  <p>
    <b>Bekannt:</b>
      Die Karte zeigt 2 Buchstaben. Es müssen bekannte Persönlichkeiten genannt werden, deren Vornamen mit einem der beiden Buchstaben auf der Karte beginnen. Wird eine Persönlichkeit genannt, deren Vorund Zunamen mit jeweils einem der Buchstaben beginnen, ist der Spieler an der Reihe in dieser Runde sicher.
      Die Bombe darf in dieser Runde nicht mehr an ihn, sondern muss an den Spieler links von ihm weitergegeben
      werden.<br />
      Beispiel: „MP“ - mögliche Namen sind: „Paul“, „Marianne“, „Petra“, „Marvin“; sagt ein Spieler aber z. B.
      „Mary Poppins“ ist er in dieser Runde sicher!
  </p>
  <p>
    <b>Gefragt:</b>
    Die Karte zeigt eine Frage. Es müssen Wörter genannt werden, die in das gefragte Szenario passen.<br />
    Beispiel: „Was findet man in einer Schule?“ - mögliche Wörter sind: „Lehrer“, „Schüler“, „Klassenzimmer“,
    „Tafelkreide“ usw.
  </p>
  <p>
    <b>Angesetzt:</b>
    Die Karte zeigt ein Wort. Es muss ein Wort gefunden werden, das mit dem vorgegebenen Wort
    zusammengesetzt werden kann.<br />
    Beispiel: „Hase“ - mögliche Wörter sind „Hasenfell“, „Plüschhase“, „Angsthase“, „Hasenjagd“ usw.
  </p>
  <p>
    <b>Geschüttelt:</b>
    Die Karte zeigt das Anagramm eines zusammengesetzten Hauptwortes. Es muss ein Wort aus
    den vorgegebenen Buchstaben gebildet werden, das mindestens 4 Buchstaben hat.<br />
    Beispiel: „PEISBTETRL“ - mögliche Wörter sind „Seil“, „Beil“, „Brett“, „Erbe“, „Rebe“, „Spiel“, „Reise“ usw.
    Nennt der Spieler ein Wort, das alle vorgegebenen Buchstaben enthält - z.B. „Brettspiel“, ist er in
    dieser Runde sicher. Die Bombe darf in dieser Runde nicht mehr an ihn, sondern muss an den Spieler
    links von ihm weitergegeben werden.
  </p>
  <p>
    <b>Original:</b>
    Die Karte zeigt eine kurze Buchstabenkombination. Du bekommst zusätzlich noch zugewiesen, wo in dem Wort die Buchstabenkombination stehen muss. Ob Vorne, in der Mitte oder Hinten.
  </p>
  <hr />

  <p>
    <b>Anmerkung: </b>
    Sobald der Spieler, der die tickende Bombe in der Hand hält un ein passendes gültiges Wort nennt, wird diese
    an den nächsten Spieler weitergegeben, der seinerseits ein neues passendes Wort zur gleichen Karte sagen muss, damit er
    die Bombe weitergeben darf, usw.
    Anmerkung: Der nächste Spieler muss die tickende Bombe sofort übernehmen sobald ein gültiges Wort gesagt wurde!
    Jedes Wort darf in derselben Runde nur einmal gesagt werden. Dasselbe Wort ist, nachdem es einmal gesagt wurde,
    in dieser Runde ungültig. Jeder Spieler darf ein ungültiges Wort eines Mitspielers anzweifeln, solange der nächste
    Spieler noch kein neues Wort gesagt hat. Danach darf nicht mehr angezweifelt werden.<br />

    - Das Spiel läuft so lange reihum weiter, bis die Bombe zu ticken aufhört und „explodiert“. Damit ist die Runde zu Ende.<br />
    - Der Spieler, der die Bombe in der Hand hält, wenn sie „explodiert“, muss die aufgedeckte Karte nehmen und bis Spielende behalten<br />
    - Danach beginnt dieser Spieler eine neue Runde. Er würfelt, startete die Bombe und deckt eine neue Karte auf.<br />
  </p>
  <hr />

  <p>
    <b>Spielende:</b>
    Das Spiel endet, wenn die letzte Karte eines der fünf Stapel gespielt wurde. Der Spieler, der die wenigsten Karten nehmen
    musste, gewinnt. Haben zwei oder mehrere Spieler gleich wenige Karten, wird von diesen Spielern nach dem Knock-out
    Prinzip weiter gespielt, bis ein Gewinner feststeht.
  </p>
  <hr />

  <p>
    <b>Gültige und ungültige Wörter:</b><br />
    Jedes Wort der deutschen Sprache ist erlaubt, auch Eigen- und Markennamen, sowie Fremdwörter, die in die deutsche Sprache übernommen wurden.<br />
    Ein Wort darf in der gleichen Runde nur einmal gesagt werden. Jeder Spieler muss in einer Runde ein neues Wort
      finden, auch wenn die Mehrzahl oder eine andere grammatikalische Form desselben Wortes genannt wurden, ist es
    ungültig. Neue zusammengesetzte Wörter sind gültig.<br />
    <u>Beispiel:</u> Bereits gesagt wurde „Spiele“ - demnach sind „spielen“, „Spiel“ oder „gespielt“ ungültig. „Kinderspiele“,
    „Schauspiel“ und „Spielverderber“ sind aber gültig.<br /><br />
    <b>Bekannt:</b> Jede bekannte lebende und auch bereits verstorbene Persönlichkeit darf genannt werden, auch fiktive Personen aus Filmen, Büchern oder Comics, z.B. „Mickey Mouse“, „Peter Pan“ oder „Robin Hood“ sind gültig.<br />
    <b>Gefragt:</b> Jedes Wort, das mit der vorgegebenen Frage nachvollziehbar assoziiert werden kann, ist gültig. Ungültig sind
    Worte, die nicht in das Szenario passen. Im Zweifelsfall wird von allen Spielern abgestimmt.<br />
    &nbsp; <u>Beispiel:</u> „Was findet man in einem Jugendzimmer?“ „Modellflugzeug“ ist akzeptabel, wobei „Flugzeug“ angezweifelt
    werden darf.<br />
    <b>Angesetzt:</b> Jedes zusammengesetzte und im Sprachgebrauch übliche Wort ist gültig.<br />
    <b>Geschüttelt:</b> Kommt im genannten Wort ein zusätzlicher Buchstabe vor, der nicht im Anagramm auf der Karte vorgegeben ist, ist das Wort ungültig.<br />
    &nbsp; <u>Beispiel:</u> „PEISBTETRL“ - „Speise“ ist ungültig, da im Anagramm nur ein „S“ vorgegeben ist.<br />
    <b>Original:</b> Die auf der Karte angegebenen Buchstaben müssen in der vorgegebenen, zusammenhängenden Kombination verwendet werden.<br />
    &nbsp; <u>Beispiel:</u> Auf der Karte steht „ART“ - „Fahrt“ oder „Vorrat“ sind ungültig.
  </p>
</div>

<div class="actions" mat-dialog-actions>
  <button
    class="join-button"
    color="warn"
    mat-raised-button
    (click)="close()"
  >Schließen <mat-icon>close</mat-icon></button>
</div>
