<div (click)="flipCard()"
     class="box"
     [class.width-hidden]="state === 1"
     [class.width-shown]="state === 0"
>
  <div [@flipCard]="animationState" class="box-inner">
    <div class="box-front">
      <div class="category">
      <ng-container [ngSwitch]="playingCardType">
        <mat-icon *ngSwitchCase="0">wc</mat-icon>
        <mat-icon *ngSwitchCase="1">help</mat-icon>
        <mat-icon *ngSwitchCase="2">dehaze</mat-icon>
        <mat-icon *ngSwitchCase="3">texture</mat-icon>
        <mat-icon *ngSwitchCase="4">tab</mat-icon>
      </ng-container>
      <hr/>
      <span
        [class.known]="playingCardType === 0"
        [class.asked]="playingCardType === 1"
        [class.original]="playingCardType === 2"
        [class.shaked]="playingCardType === 3"
        [class.setted]="playingCardType === 4"
      >{{ getPlayingCardTypeString() }}</span>
      <hr/>
      </div>
    </div>

    <div class="box-back">
      <div class="category">
        <ng-container [ngSwitch]="playingCardType">
          <mat-icon *ngSwitchCase="0">wc</mat-icon>
          <mat-icon *ngSwitchCase="1">help</mat-icon>
          <mat-icon *ngSwitchCase="2">dehaze</mat-icon>
          <mat-icon *ngSwitchCase="3">texture</mat-icon>
          <mat-icon *ngSwitchCase="4">tab</mat-icon>
        </ng-container>
        <span
          [class.known]="playingCardType === 0"
          [class.asked]="playingCardType === 1"
          [class.original]="playingCardType === 2"
          [class.shaked]="playingCardType === 3"
          [class.setted]="playingCardType === 4"
        >{{ getPlayingCardTypeString() }}</span>
        </div>
      </div>
    <ng-content></ng-content>
  </div>
</div>
