:host {
  .playing-card--container {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.3em;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    width: 310px;
    height: 160px;
    padding: 18px;
    background-image: linear-gradient(to bottom right, red, orangered);

    &__category {
      display: flex;
      gap: 28px;
      align-items: center;
      font-size: 24px;

      mat-icon {
        font-size: 38px;
        margin-bottom: 12px;
      }
    }
  }


}
