:host {
  .playing-card--container {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.3em;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    width: 160px;
    height: 230px;
    padding: 18px;
    color: white;
    background-image: linear-gradient(to bottom right, #000000, #363636);

    &__category {
      margin-top: 18%;
      text-align: center;
      font-size: 24px;

      mat-icon {
        font-size: 38px;
        margin-bottom: 12px;
      }
    }
  }

  .original {
    color: white;
  }

  .known {
    color: red;
  }

  .asked {
    color: lightskyblue;
  }

  .shaked {
    color: yellow;
  }

  .setted {
    color: limegreen;
  }
}
