<ng-container *ngIf="game && game.players">
  <ng-container [ngSwitch]="game.gameState.id">
    <app-lobby
      *ngSwitchCase="LOBBY"
      [form]="lobbyForm"
      [timer]="timer"
      [removeComponent]="removeComponent"
      [startTriggered]="startTriggered"
      [singleState]="singleState"
      (gameStarter)="startGame()"
    ></app-lobby>
    <app-ingame
      *ngSwitchCase="INGAME"
      [messages]="messages"
      [gameAreaForm]="gameAreaForm"
    ></app-ingame>
  </ng-container>
</ng-container>
