<div class="container">
  <img *ngIf="game.gameStep === 3" src="assets/images/explosion.gif" class="explosion" alt="explosion" />
  <div class="container--players">
    <app-player-order></app-player-order>
  </div>
  <div class="container--game">
    <app-deck class="container--game__deck" (click)="pullCard()"></app-deck>
    <app-playing-card
      *ngIf="game.currentCard"
      [@card]="game.deckState"
      class="container--game__card"
      [cardState]="game.cardState"
    ></app-playing-card>
    <button
      class="container--game__doubt"
      mat-raised-button
      [disabled]="!game.currentPlayer"
      [class.disabled]="!game.currentPlayer">
      <mat-icon>format_clear</mat-icon>
      Lösung des Spielers anzweifeln
    </button>
    <div class="container--game--info-container">
      <ngx-typed-js class="container--game--info-container__info"
                    [showCursor]="false"
                    [typeSpeed]="14"
                    [strings]="[game.helpString ?? '']">
        <h2 class="typing"></h2>
      </ngx-typed-js>
      <div class="container--game--info-container--image-container">
        <img class="container--game--info-container--image-container__image" src="assets/images/bomb_figure.png" alt="bomb_figure">
        <h4 class="container--game--info-container--image-container__image-text">Mike</h4>
      </div>
    </div>
  </div>
  <div class="container--submit-message">
    <form
      *ngIf="gameAreaForm"
      class="container--submit-message__input-container"
      [formGroup]="gameAreaForm"
    >
      <input
        class="container--submit-message__input-container__input"
        type="text"
        formControlName="answer"
      >
      <button
        mat-raised-button
        type="button"
        [disabled]="(gameAreaForm.invalid ||!game.currentPlayer || game.currentPlayer.resourceId !== player.resourceId) && gameAreaForm.enabled"
        [class.disabled]="(gameAreaForm.invalid || !game.currentPlayer || game.currentPlayer.resourceId !== player.resourceId) && gameAreaForm.enabled"
        (click)="doTurn()"
      >Absenden <mat-icon>check</mat-icon>
      </button>
    </form>
  </div>
</div>
