:host {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: auto;

    &--game-area {
      flex: 3.7;

    }

    &--chat {
      flex: 1;
    }
  }
}
